body {
    background-color: #d5c8c8
}

p {
    background-color: cyan;
    font-size: 20px;
    font-family: "Comic Sans MS";

}

.class1{
    background-color: #5A72A0;
    font-size: 20px;
    font-family: "Comic Sans MS";
}